<div class="container" ng-show="votingModel">
    <div class="row">
        <div class="xs-5">
            <h1>Crazy Friday Voting</h1>
        </div>
    </div>
    <div class="row">
        <div class="xs-5 form-group">
            <label for="votingModel"></label>
            <select class="form-control" ng-model="votingModel" ng-options="o as o for o in votingOptions"></select>
            <input class="btn btn-default" type="button" value="vote" ng-click="vote(votingModel)"/>
        </div>
    </div>
</div>

